---
layout: default
---
            <header class="it-header-wrapper" data-bs-target="#header-nav-wrapper" style="">
              <div class="it-header-slim-wrapper">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="it-header-slim-wrapper-content">
                        <a class="d-lg-block navbar-brand" target="_blank" href="#" aria-label="Vai al portale {Nome della Regione} - link esterno - apertura nuova scheda" title="Vai al portale {Nome della Regione}">Nome della Regione</a>
                        <div class="it-header-slim-right-zone" role="navigation">
                          <div class="nav-item dropdown">
                            <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="languages" aria-haspopup="true">
                              <span class="visually-hidden">Lingua attiva:</span>
                              <span>ITA</span>
                              <svg class="icon">
                                <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use>
                              </svg>
                            </button>
                            <div class="dropdown-menu">
                              <div class="row">
                                <div class="col-12">
                                  <div class="link-list-wrapper">
                                    <ul class="link-list">
                                      <li><a class="dropdown-item list-item" href="#"><span>ITA <span class="visually-hidden">selezionata</span></span></a></li>
                                      <li><a class="dropdown-item list-item" href="#"><span>ENG</span></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a class="btn btn-primary btn-icon btn-full" href="../servizi/accesso-servizio.html" data-element="personal-area-login">
                            <span class="rounded-icon" aria-hidden="true">
                              <svg class="icon icon-primary">
                                <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-user"></use>
                              </svg>
                            </span>
                            <span class="d-none d-lg-block">Accedi all'area personale</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="it-nav-wrapper">
                <div class="it-header-center-wrapper">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="it-header-center-content-wrapper">
                          <div class="it-brand-wrapper">
                            <a href="homepage.html">
                                <svg width="82" height="82" class="icon" aria-hidden="true">
                                  <image xlink:href="../assets/images/logo-comune.svg"/>
                                </svg>
                                <div class="it-brand-text">
                                  <div class="it-brand-title">Il mio Comune</div>
                                  <div class="it-brand-tagline d-none d-md-block">Un comune da vivere </div>
                                </div>
                              </a>
                          </div>
                          <div class="it-right-zone">
                            <div class="it-socials d-none d-lg-flex">
                              <span>Seguici su</span>
                              <ul>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                                    </svg>
                                    <span class="visually-hidden">Twitter</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                                    </svg>
                                    <span class="visually-hidden">Facebook</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-youtube"></use>
                                    </svg>
                                    <span class="visually-hidden">YouTube</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-telegram"></use>
                                    </svg>
                                    <span class="visually-hidden">Telegram</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                                    </svg>
                                    <span class="visually-hidden">Whatsapp</span></a>
                                </li>
                                <li>
                                  <a href="#" target="_blank">
                                    <svg class="icon icon-sm icon-white align-top">
                                      <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-rss"></use>
                                    </svg>
                                    <span class="visually-hidden">RSS</span></a>
                                </li>
                              </ul>
                            </div>
                            <div class="it-search-wrapper">
                              <span class="d-none d-md-block">Cerca</span>
                              <button class="search-link rounded-icon" type="button" data-bs-toggle="modal" data-bs-target="#search-modal" aria-label="Cerca nel sito">
                                <svg class="icon">
                                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-search"></use>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="it-header-navbar-wrapper" id="header-nav-wrapper">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <!--start nav-->
                        <div class="navbar navbar-expand-lg has-megamenu">
                          <button class="custom-navbar-toggler" type="button" aria-controls="nav4" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-target="#nav4" data-bs-toggle="navbarcollapsible">
                            <svg class="icon">
                              <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use>
                            </svg>
                          </button>
                          <div class="navbar-collapsable" id="nav4">
                            <div class="overlay" style="display: none;"></div>
                            <div class="close-div">
                              <button class="btn close-menu" type="button">
                                <span class="visually-hidden">Nascondi la navigazione</span>
                                <svg class="icon">
                                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use>
                                </svg>
                              </button>
                            </div>
                            <div class="menu-wrapper">
                              <a href="homepage.html" class="logo-hamburger">
                                <svg class="icon" aria-hidden="true">
                                  <use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-pa"></use>
                                </svg>
                                <div class="it-brand-text">
                                  <div class="it-brand-title">Nome del Comune</div>
                                </div>
                              </a>
                              <nav aria-label="Principale">
                                <ul class="navbar-nav" data-element="main-navigation">
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/amministrazione.html" data-element="management">
                                      <span>Amministrazione</span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/novita.html" data-element="news">
                                      <span>Novità</span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/servizi.html" data-element="all-services">
                                      <span>Servizi</span>
                                    </a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/eventi.html" data-element="live">
                                      <span>Vivere il Comune</span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                              <nav aria-label="Secondaria">
                                <ul class="navbar-nav navbar-secondary">
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/argomento.html">Iscrizioni</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/argomento.html">Estate in città</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="../sito/argomento.html">Polizia locale</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="argomenti.html" data-element="all-topics">
                                      <span>Tutti gli argomenti 
                                        <svg class="icon icon-sm">
                                          <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-chevron-right"></use>
                                        </svg>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                              <div class="it-socials">
                                <span>Seguici su</span>
                                <ul>
                                  <li>
                                    <a href="#" target="_blank">
                                      <svg class="icon icon-sm icon-white align-top">
                                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use>
                                      </svg>
                                      <span class="visually-hidden">Twitter</span></a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank">
                                      <svg class="icon icon-sm icon-white align-top">
                                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-facebook"></use>
                                      </svg>
                                      <span class="visually-hidden">Facebook</span></a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank">
                                      <svg class="icon icon-sm icon-white align-top">
                                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-youtube"></use>
                                      </svg>
                                      <span class="visually-hidden">YouTube</span></a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank">
                                      <svg class="icon icon-sm icon-white align-top">
                                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-telegram"></use>
                                      </svg>
                                      <span class="visually-hidden">Telegram</span></a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank">
                                      <svg class="icon icon-sm icon-white align-top">
                                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-whatsapp"></use>
                                      </svg>
                                      <span class="visually-hidden">Whatsapp</span></a>
                                  </li>
                                  <li>
                                    <a href="#" target="_blank">
                                      <svg class="icon icon-sm icon-white align-top">
                                        <use xlink:href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-rss"></use>
                                      </svg>
                                      <span class="visually-hidden">RSS</span></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>


<div id="main">

    {{ content }}

    {% if site.links_buttons %}
    <!-- from _data/links_buttons.yml -->
    <div class="u-layout-wide u-layoutCenter u-padding-r-bottom u-margin-r-bottom u-layout-r-withGutter">
        {% if site.links_buttons_title %}
        <h2 class="u-padding-r-bottom u-padding-r-top u-text-r-l">{{ site.links_buttons_title }}</h2>
        {% endif %}
        <div class="Grid Grid--withGutter">
            {% for item in site.data.links_buttons %}
              {% if item.list %}
                <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
                    <div class="Entrypoint-item u-background-50">
                        <p><a class="u-textClean u-text-h3 u-color-white" href="{{ item.url }}">{{ item.title }}</a></p>
                    </div>
                    {% for sub_item in item.list %}
                    <div class="Entrypoint-item u-background-50">
                        <p><a class="u-textClean u-text-h4 u-color-white" href="{{ sub_item.url }}">{{ sub_item.title }}</a></p>
                    </div>
                    {% endfor %}
                </div>
              {% else %}
                <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
                    <div class="Entrypoint-item u-sizeFill u-background-50">
                        <p><a class="u-textClean u-text-h3 u-color-white" href="{{ item.url }}">{{ item.title }}</a></p>
                    </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if site.posts_list %}
    <!-- recent posts from posts/*.html -->
    <div class="u-background-grey-20 u-text-r-xxl u-padding-r-top u-padding-r-bottom">
        <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
            <div class="u-layout-centerContent u-background-grey-20 u-padding-r-bottom">
                <section class="u-layout-wide">
                    <h2 class="u-padding-r-bottom u-text-r-l">{{ site.posts_list_title }}</h2>

                    <div class="Grid Grid--withGutter">

                    {% for post in site.posts limit: 6 %}
                      {% if forloop.first %}
                        <div class="Grid-cell u-nbfc u-md-size3of4 u-lg-size3of4">

                            <div class="Grid u-layout-centerContent">
                                {% if post.thumbnail %}
                                <div class="Grid-cell u-sizeFit">
                                    <img src="{{ post.thumbnail | relative_url }}" width="300" height="300" class="u-sizeFit" alt="primo post" />
                                </div>
                                {% endif %}
                                <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
                      {% else %}
                        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
                      {% endif %}

                                    <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
                                        <p class="u-padding-r-bottom">
                                            <span class="Dot u-background-70"></span>
                                            <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">{{ post.category }}</a>
                                            <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">{{ post.date | date: '%d %B %Y' }}</span>
                                        </p>
                                        <h3 class="u-padding-r-top u-padding-r-bottom">
                                          <a class="u-text-h4 u-textClean u-color-black" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
                                        </h3>
                                        <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
                                            {% if post.subtitle %}
                                              {{ post.subtitle }}
                                            {% else %}
                                              {{ post.excerpt | strip_html | truncatewords: 15 }}
                                            {% endif %}
                                        </p>
                                    </div>
                      {% if forloop.first %}
                                </div>
                            </div>
                      {% endif %}
                        </div>
                    {% endfor %}

                    </div>

                    <p class="u-textCenter u-text-md-right u-text-lg-right u-padding-r-top">
                        <a href="{{ "/posts" | relative_url }}" class="u-color-50 u-textClean u-text-h4">
                            tutti i contenuti <span class="Icon Icon-chevron-right"></span>
                        </a>
                    </p>

                </section>

            </div>
        </div>
    </div>
    {% endif %}

    {% if site.section_lists %}
    <!-- "landing section" from _data/section_lists.yml -->
    <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
        <h1 class="u-text-h2">Aree Tematiche</h1>
        <div class="Grid Grid--withGutter">

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Progetti</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">Tutti i progetti da Gabby</p>
                    <ul class="Linklist Prose u-text-r-xs">
                        <li><a href="/progetti/accessibilità">Progetto accessibilità 20 50</a></li>
                        <li><a href="/progetti/ava">AVA project</a></li>
                        <li><a href="/progetti/pgf/">Progetto politiche giovanili a Fontanafredda</a></li>
                    </ul>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Social</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">Tutti i social di Gabriel Jones</p>
                    <ul class="Linklist Prose u-text-r-xs">
                        <li><a href="https://instagram.com/onlygabbyme">Instagram</a></li>
                        <li><a href="https://www.snapchat.com/add/gabriel_jones4">Snapchat</a></li>
                        <li><a href="https://www.x.com/">x</a></li>
                        <li><a href="https://www.github.com/gabrieljonesdev">github</a></li>
                    </ul>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Pagine</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">Pagine di Gabriel!</p>
                    <ul class="Linklist Prose u-text-r-xs">
                        <li><a href="/post/">il blog</a></li>
                        <li><a href="/curriculum/">Curriculum</a></li>
                        <li><a href="/reparti/">Reparti</a></li>
                        <li><a href="/onlygabbyme/">onlygabbyme</a></li>
                        <li><a href="/documenti/">Documenti</a></li>
                        <li><a href="/contatti/">contatti</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if site.twitter_list %}
    <!-- twitter list (manual) -->
    <div class="u-background-70 u-padding-r-top u-padding-r-bottom">
        <div class="u-layout-centerContent u-background-70 u-padding-r-all">
            <section class="u-layout-medium">
                <div class="Grid">
                    <div class="Grid-cell u-layout-centerLeft">
                        <h2 class="u-text-r-l"><a class="u-color-white" href="https://x.com/gabrieljonesdev">Da Gabriel</a></h2>
                    </div>
                </div>
                <div class="u-text-r-xxl u-padding-r-top">
                    <div class="Grid Grid--withGutter">

                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
                            <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
                                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                                    <div class="u-text-p u-padding-r-bottom">
                                        <p class="u-color-50 u-text-r-xxs u-textWeight-600">Gabriel Jones</p>
                                        <p class="u-textSecondary u-text-r-xs">@gabrieljonesdev</p>
                                    </div>
                                    <p class="u-textSecondary u-text-r-xs">Tweet fissato - Hey ciao a tutti! Io sono Gabriel, e sono un content creator, creatore di siti web (developer e gestisco dei designers) e boh! Qui vedrete e sentirete i miei scleri, che non vanno mai su Instagram! Vi invito ad andare a vedere il mio sito web</p>
                                </section>
                            </div>
                        </div>

                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
                            <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
                                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                                    <div class="u-text-p u-padding-r-bottom">
                                        <p class="u-color-50 u-text-r-xxs u-textWeight-600">Gabriel Jones</p>
                                        <p class="u-textSecondary u-text-r-xs">@gabrieljonesdev</p>
                                    </div>
                                    <p class="u-textSecondary u-text-r-xs">Non so voi, ma per me questa settimana è volata!</p>
                                </section>
                            </div>
                        </div>
                        
                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
                            <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
                                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                                    <div class="u-text-p u-padding-r-bottom">
                                        <p class="u-color-50 u-text-r-xxs u-textWeight-600">Gabriel Jones</p>
                                        <p class="u-textSecondary u-text-r-xs">@gabrieljonesdev</p>
                                    </div>
                                    <p class="u-textSecondary u-text-r-xs">Pov : a soli 900 follower conosci già influencer da 15k, 182k, 700k!!!</p>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endif %}

</div>
